{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3>{{book_title}}</h3>

    <img id="bookImage" src="{{image_url[0]}}" onerror="this.onerror=null; this.src='Default.jpg'" alt="" width="100"
        height="150">

    <p>ISBN: {{book_isbn}}</p>
    <p>Author: {{book_author}}</p>
    <p>Year: {{book_year}}</p>
    <p>Available: {{book_count}}</p>

    {% if book_count == 0 %}
    <form action="#" method="post">
        <input name="button" type="submit" value="reserve book">
    </form> 
    {% else %}
    <form action="{{url_for('checkout.checked')}}" method="post">
        <input name="button" type="submit" value="checkout book">
    </form> 
    {% endif %}
    <form action="{{url_for('checkout.redirect_user')}}" method="post">
        <input name="button" type="submit" value="Go back to list">
    </form> 

</div>

<script>
    window.addEventListener("pagehide", () => {
        // update hidden input field
        $.ajax({
            url: "/book/clearfields/", //the page containing python script
            type: "get", //request type,
            success: function (result) {
                console.log("hello");
            }
        });
    });

    window.onload = function () {
        if (!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }
</script>

{% endblock %}