{% extends 'base.html' %}

{% block content %}

<style>
    #main {
        margin: 50px 0px 0px 0px;
    }

    #user_content {
        margin: 20px 0px 0px 5px;
    }

    #acc_info {
        color: green;
        position: absolute;

        left: 150px;
    }

    #empty_message {
        margin-top: 20px;
        margin-left: 10px;
    }

    #return_btn {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }

    #renew_btn {
        width: 100%;
        margin: 0px;
    }

    #exp_date {
        color: red;
    }
</style>


<div id="main" class="container">

    <h1>SUP {{g.user['u_name']}}</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link active" href="#account">Account Info</a>
        </li>
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link" href="#checked">Checked Books</a>
        </li>
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link" href="#reserved">Reserved Books</a>
        </li>
    </ul>

    <div id="user_content" class="tab-content">
        <div id="account" class="tab-pane fade show active">
            <h3>Account</h3>
            <ul class="list-group">
                <li class="list-group-item"><b>User: </b> <span id="acc_info">{{account_info[0]}} </span></li>
                <li class="list-group-item"><b>Email: </b> <span id="acc_info">{{account_info[1]}} </span></li>
                <li class="list-group-item"><b>University: </b> <span id="acc_info">{{account_info[2]}} </span></li>
            </ul>
        </div>
        <div id="checked" class="tab-pane fade">
            <h3>Checked Books</h3>

            {% if checked_books %}
            <table id="book_table" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Book</th>
                        <th>Book Info</th>
                        <th>Checked-out Info</th>
                        <th></th>
                    </tr>
                </thead>
                {% for book in checked_books %}

                <tr id="row" class="clickable-row">
                    <td>
                        <img id="bookImage" src="{{ book['b_image_url']}}"
                            onerror="this.onerror=null; this.src='Default.jpg'" alt="" width="100" height="150">
                    </td>

                    <td id="book_info">
                        <b>Book title: </b><span>{{ book['b_title']}}</span>
                        <br />
                        <b>ISBN: </b> <span id="book_isbn">{{ book['b_isbn']}}</span>
                        <br />
                        <b>Author: </b> <span>{{ book['a_authorname']}}</span>
                    </td>

                    <td>
                        <b>Checked date: </b><span>{{ book['cb_checkeddate']}}</span>
                        <br />
                        <b>Expiration date: </b> <span id="exp_date">{{ book['cb_experiationdate']}}</span>
                    </td>

                    <td>
                        <form action=#>
                            <button id="return_btn" class="btn btn-primary">Return</button>
                            <button id="renew_btn" class="btn btn-secondary">Renew</button>
                        </form>
                    </td>
                </tr>

                {% endfor %}

            </table>

            {% else %}
            <h5 id="empty_message">Such an emptiness . . .</h5>
            {% endif %}

        </div>
        <div id="reserved" class="tab-pane fade">
            <h3>Reserved</h3>
        </div>
    </div>

</div>


<script>

    $(".btn").click(function (e) {
        parent = $(this).parent().parent().parent();
        book_info = $(this).parent().parent().parent().children().eq(1).text();
        book_isbn = $(this).parent().parent().parent().children().eq(1).find("span#book_isbn").text();

        $.ajax({
            type: 'GET',
            url: "{{url_for('profile.return_book')}}",
            contentType: 'application/json;charset=UTF-8',
            data: { 'data': book_isbn }
        });

        parent.delay(200).fadeOut(200);
        parent.animate({
            "opacity": "0",
        }, {
            "complete": function () {
                parent.remove();
            }
        });

    });

</script>


{% endblock %}