{% extends 'base.html' %}

{% block content %}

<style>
    #main {
        margin: 50px 0px 0px 0px;
    }

    #user_content {
        margin: 20px 0px 0px 5px;
    }
</style>


<div id="main" class="container">

    <h1>Hello {{g.user['u_name']}}</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link active" href="#account">Account Info</a>
        </li>
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link" href="#checked">Checked Books</a>
        </li>
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link" href="#reserved">Reserved Books</a>
        </li>
    </ul>

    <div id="user_content" class="tab-content">
        <div id="account" class="tab-pane fade show active">
            <h3>Account</h3>
        </div>
        <div id="checked" class="tab-pane fade">
            <h3>Checked</h3>
        </div>
        <div id="reserved" class="tab-pane fade">
            <h3>Reserved</h3>
        </div>
    </div>

</div>


{% endblock %}