<!-- Html file which serves as an HTML template for the logout,register,and login routes -->

<!doctype html>

<head>
    <title>{% block title %}{% endblock %} - Library</title>


    <!-- Bootstrap -->    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery and JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        #profile { 
            width: 46px; 
            height: 46px; 
            padding: 10px 10px; 
            margin: 0px 0px 0px 15px;
            border-radius: 23px; 
            font-size: 16px; 
            text-align: center; 
        } 

    </style>

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        {% if g.user %}
        <a class="navbar-brand" href="{{url_for('library.index')}}">Library</a>
        {% else %}
        <a class="navbar-brand" href="{{ url_for('auth.login')}}">Library</a>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if g.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout', )}}">Log Out</a>
                </li>
                <li class="nav-item">
                    <form action="{{ url_for('profile.account') }}">
                        <button class="btn btn-info" id="profile">{{g.user['u_name'][0]}}</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <section class="content">
        <div class="container">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
            <div class="flash"></div>
            {% endfor %}
            {% block content %}{% endblock %}

        </div>
    </section>
</body>